
.nav-bar {
    background-color: #F0EEED;
    height: 45px;
    padding: 1px;
}

.path-bar ul {
    display: flex;
    list-style: none;
    font-size: 14;
    margin-left: 125px;
    position: absolute;
    letter-spacing: 0.05em;

}

.path-bar ul li a {
    text-decoration: none;
    color: #000;
}

.actual-page {
    color: #FF4F4F !important;
}