
#select-qtdade-pag{height: 30px; margin: auto;}

.filter{width: calc(25% - 1rem); margin-right: 1rem;}
.filter-border {border: 1px #000000 solid;  margin-bottom: 2rem; text-align: left; border-radius: 10px; padding: 1rem;}
.button-filter{display: block; color: #FF4F4F; text-decoration: underline; margin: 15px 0;}
.button-filter:hover{display: block; color: #000; text-decoration: underline; margin: 15px 0;}
.filter-number{margin: 2px; border-radius: 10px; cursor: pointer; font-weight: 700; border: 1px #000000 so;}
.filter-number:hover{background-color: #000000; color: #F5F5F5;}
.form-marca {display: flex; flex-direction: column;}
.filter input[type=checkbox] {margin-bottom: 0.5rem;}
form.form-n span {display: flex; flex-wrap: wrap; margin-bottom: 1rem;}


.pag-tela {text-align: center;}
input[type="range"] {width: 100%; padding: 0; margin: 0;}

.categorias-produtos{display: flex;}
.grid-produtos {width: 75%;}

.lista-categorias {padding-top:0; display: flex; flex-wrap: wrap; list-style: none; justify-content: space-between; justify-content: flex-start; column-gap: 1rem;}
.grid-produtos .lista-categorias > li {border-radius: 10px; border: solid #fff 1px; color: #fff; text-align: center; width: calc(33.3% - 15px); margin-bottom: 1rem;}
.conta-paginas{border-top:1px solid #000; padding: 2rem 0;}
.conta-paginas a{margin: 10px; text-decoration:none; color: #000000;}
.conta-paginas a:hover{margin: 10px; text-decoration:none; color: #FF4F4F; font-weight: bold;}

.titulo-categoria {display: flex; justify-content: space-between; border-bottom: 1px solid #000; margin-bottom:3rem;}

.titulo-categoria h2 {margin: 0; padding: 0 0 1rem 0;}
.result-pag {display: flex; flex-direction: row; align-items: center; justify-content: flex-end; column-gap: 1rem;}